In [11]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
import time
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
import warnings

In [12]:
df = pd.read_csv('iot23_18column.csv')

In [13]:
clf=RandomForestClassifier(n_estimators =100, random_state=10)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444630 entries, 0 to 1444629
Data columns (total 19 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Unnamed: 0     1444630 non-null  int64
 1   ts             1444630 non-null  int64
 2   uid            1444630 non-null  int64
 3   id.orig_h      1444630 non-null  int64
 4   id.orig_p      1444630 non-null  float64
 5   id.resp_h      1444630 non-null  int64
 6   id.resp_p      1444630 non-null  float64
 7   proto          1444630 non-null  int64
 8   duration       544530 non-null   float64
 9   orig_bytes     544530 non-null   float64
 10  resp_bytes     544530 non-null   float64
 11  conn_state     1444630 non-null  int64
 12  missed_bytes   1444630 non-null  float64
 13  history        1444630 non-null  int64
 14  orig_pkts      1444630 non-null  float64
 15  orig_ip_bytes  1444630 non-null  float64
 16  resp_pkts      1444630 non-null  float64
 17  resp_ip_bytes  1444630 non-null  float64
 18  label          1444630 non-null  int64
dtypes: float64(10), int64(9)
memory usage: 209.4 MB

In [15]:
df_cleaned = df.dropna(subset=['duration', 'orig_bytes', 'resp_bytes'])

In [16]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 544530 entries, 0 to 1444405
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     544530 non-null  int64
 1   ts             544530 non-null  int64
 2   uid            544530 non-null  int64
 3   id.orig_h      544530 non-null  int64
 4   id.orig_p      544530 non-null  float64
 5   id.resp_h      544530 non-null  int64
 6   id.resp_p      544530 non-null  float64
 7   proto          544530 non-null  int64
 8   duration       544530 non-null  float64
 9   orig_bytes     544530 non-null  float64
 10  resp_bytes     544530 non-null  float64
 11  conn_state     544530 non-null  int64
 12  missed_bytes   544530 non-null  float64
 13  history        544530 non-null  int64
 14  orig_pkts      544530 non-null  float64
 15  orig_ip_bytes  544530 non-null  float64
 16  resp_pkts      544530 non-null  float64
 17  resp_ip_bytes  544530 non-null  float64
 18  label          544530 non-null  int64
dtypes: float64(10), int64(9)
memory usage: 83.1 MB

In [17]:
X = df_cleaned[['ts', 'uid', 'id.orig_h', 'id.orig_p', 'id.resp_h', 'id.resp_p',
       'proto', 'duration', 'orig_bytes', 'resp_bytes', 'conn_state',
       'missed_bytes', 'history', 'orig_pkts', 'orig_ip_bytes', 'resp_pkts',
       'resp_ip_bytes']]
Y = df_cleaned['label']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=10, test_size=0.2)

In [18]:
clf=RandomForestClassifier(n_estimators =100, random_state=10)

In [19]:
start = time.time()
print('program start...')
print()

clf.fit(X_train,Y_train)
print()

print('prediction:')
y_pred=clf.predict(X_test)
print(y_pred)
print()

print('Score:')
score = clf.score(X_test,Y_test)
print(score)

end = time.time()
print('program end...')
print()
print('time cost: ')
print(end - start, 'seconds')

program start...


prediction:
[4 4 5 ... 5 0 0]

Score:
0.9997888086974088
program end...

time cost:
332.4600751399994 seconds

In [20]:
print("Classifiction Report :")
print(classification_report(Y_test, y_pred))

Classifiction Report :
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     13498
           1       1.00      1.00      1.00      1340
           2       0.98      1.00      0.99        61
           3       1.00      1.00      1.00      4964
           4       1.00      1.00      1.00      5069
           5       1.00      1.00      1.00     83170
           6       1.00      1.00      1.00       804

    accuracy                           1.00    108906
   macro avg       1.00      1.00      1.00    108906
weighted avg       1.00      1.00      1.00    108906